<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <h1 class="tk-courier-prime white">!happy?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <p class="text-large white">Being happy is a skill. It can be learned, just like anything else.
                    We're thinking of putting on a one-day conference, in London, UK, to teach developers,
                    designers and other technical types this skill, like other conferences would teach you the latest
                    frameworks or processes. No religion, no mumbo-jumbo; just scientific, practical advice.</p>
                <p class="text-large white">If that sounds like something you'd like to attend, please show your
                    interest by signing up below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <form class="form-inline"
                      action="//wtf.us11.list-manage.com/subscribe/post?u=54f9bbebb79da2c14b5fd18a6&amp;id=29483273a8"
                      method="post"
                      id="mc-embedded-subscribe-form"
                      name="mc-embedded-subscribe-form">
                        <input class="form-control" type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Name">
                        <input class="form-control" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_54f9bbebb79da2c14b5fd18a6_29483273a8" tabindex="-1" value=""></div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <small class="white">We won't spam you or share your details with anyone not directly involved in organising the conference.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <blockquote class="blockquote-reverse">
                    <p class="white">I'd far rather be happy than right.</p>
                    <footer class="white">Douglas Adams</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>