<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!happy?</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css" rel="stylesheet">
    <link href="/css/happy.css" rel="stylesheet">
    <script src="//use.typekit.net/kds0kbv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<!--<nav class="navbar navbar-fixed-top navbar-default">-->
    <!--<div class="container">-->
        <!--<a class="navbar-brand tk-courier-prime" href="/">!happy?</a>-->
    <!--</div>-->
<!--</nav>-->
{{{body}}}
</body>
</html>